apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
      - name: myapp
        image: 851725258124.dkr.ecr.ap-south-1.amazonaws.com/mk-ecr-dotnet:2a45a4da8b58851abcd2b14c366d9cb07ab9508c
        ports:
        - containerPort: 8080