apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/munikoteswararao-chevuru/argocd-deployments'
    targetRevision: main
    path: monitoring
      values: |
        server:
          service:
            type: NodePort
            nodePort: 32001
        alertmanager:
          service:
            type: NodePort
            nodePort: 32002
        pushgateway:
          service:
            type: NodePort
            nodePort: 32003
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

